<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Local SCSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/content.css" type="text/css" />
    <link rel="stylesheet" href="/styles/loader.css" type="text/css" />
    <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
    <link rel="stylesheet" href="/styles/queries.css" type="text/css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/events.js"></script>
  </head>

  <body>
    <nav>
      <span class="user-input-toggle">Smart TODO List</span>
      <% if (!username) { %>
        <form class="nav-top-right" action="/login" method="POST">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">
          </div>
          <button class='identify' type="submit">Login</button>
        </form>
        <% } else { %>
          <div class="nav-top-right">
            <div>Welcome <%= username %></div>
            <form action="/logout" method="POST">
              <button class='identify' type="submit">Logout</button>
            </form>
          </div>
        <% } %>
    </nav>
    <% if (username) { %>
      <header class="header-toggle">
        <h2>Why can you drink the drink but can't food the food?</h2>
        <div class="loader">
          <div class="loader-box loader-movies"></div>
          <div class="loader-box loader-foods"></div>
          <div class="loader-box loader-books"></div>
          <div class="loader-box loader-products"></div>
        </div>
        <form id="new-item" action='/reminders' method="POST">
          <input class="list-input-field" type="text" name="reminder" placeholder="To be sorted">
          <button class="custom-btn btn-12"><span>Do it!</span><span>Sort</span></button>
          <div class="font-awesome-icons">
            <i class="fas fa-film"></i>
            <i class="fas fa-utensils"></i>
            <i class="fas fa-solid fa-book"></i>
            <i class="fas fa-shopping-cart"></i>
          </div>
        </form>
      </header>
      <div class="below-header"></div>
      <div class="list-container">
        <div class="movies-container dumbledore">
          <h3 class='movies-top'>Movies</h3>
          <ul class="movies lists"></ul>
        </div>
        <div class="foods-container dumbledore">
          <h3 class='foods-top'>Foods</h3>
          <ul class="foods lists"></ul>
        </div>
        <div class="books-container dumbledore">
          <h3 class='books-top'>Books</h3>
          <ul class="books lists"></ul>
        </div>
        <div class="products-container dumbledore">
          <h3 class='products-top'>Products</h3>
          <ul class="products lists"></ul>
        </div>
      </div>
    <% } %>

  </body>

  <div class="modal-container">
    <div class="modal-box">
      <div class="title-container">
        <h2 class="modal-title">Fake Title</h2>
        <i class="fas fa-times"></i>
      </div>
      <div class="modal-content-container">
        <img class="modal-image" src="https://images.pexels.com/photos/3310691/pexels-photo-3310691.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-3310691.jpg&fm=jpg" alt="">
        <p class="modal-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quidem commodi laborum reiciendis! Quasi itaque dicta ex asperiores sed fuga, est totam deleniti voluptas repellat voluptatum maiores libero sint explicabo, amet possimus accusamus reprehenderit eum, voluptatem consequuntur. Inventore corrupti magnam explicabo soluta sed, porro quibusdam eum! Totam laborum accusamus ducimus quam error eius laudantium eos quos, id earum. Optio possimus harum animi eos hic ab officiis architecto, cupiditate earum commodi dolores praesentium consequuntur non corrupti, dolorem blanditiis veniam saepe necessitatibus ipsam distinctio consequatur modi! Ipsam veniam impedit perspiciatis iste necessitatibus libero voluptatibus esse soluta placeat pariatur, qui optio id! Nisi?</p>
      </div>
    </div>
  </div>
</html>
