<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Local SCSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/content.css" type="text/css" />
    <link rel="stylesheet" href="/styles/loader.css" type="text/css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/events.js"></script>
  </head>

  <body>
    <nav>
      <span class="user-input-toggle">Smart TODO List</span>
      <% if (!username) { %>
        <form class="nav-top-right" action="/login" method="POST">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">
          </div>
          <button class='identify' type="submit">Login</button>
        </form>
        <% } else { %>
          <div class="nav-top-right">
            <div>Welcome <%= username %></div>
            <form action="/logout" method="POST">
              <button class='identify' type="submit">Logout</button>
            </form>
          </div>
        <% } %>
    </nav>
    <% if (username) { %>
      <header class="header-toggle">
        <h2>Why can you drink the drink but can't food the food?</h2>
        <div class="loader">
          <div class="loader-box loader-movies"></div>
          <div class="loader-box loader-foods"></div>
          <div class="loader-box loader-books"></div>
          <div class="loader-box loader-products"></div>
        </div>
        <form id="new-item" action='/reminders' method="POST">
          <input class="list-input-field" type="text" name="reminder" placeholder="To be sorted">
          <button class="new-item" type="submit">Sort it!</button>
          <div class="font-awesome-icons">
            <i class="fas fa-film"></i>
            <i class="fas fa-utensils"></i>
            <i class="fas fa-solid fa-book"></i>
            <i class="fas fa-shopping-cart"></i>
          </div>
        </form>
      </header>
      <div class="list-container">
        <div class="movies-container">
          <h3>Movies</h3>
          <ul class="movies lists"></ul>
        </div>
        <div class="foods-container">
          <h3>Foods</h3>
          <ul class="foods lists"></ul>
        </div>
        <div class="books-container">
          <h3>Books</h3>
          <ul class="books lists"></ul>
        </div>
        <div class="products-container">
          <h3>Products</h3>
          <ul class="products lists"></ul>
        </div>
      </div>
    <% } %>

  </body>
</html>
