@import 'variables';

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 20px 0px;
    margin: 0px;

    &.movies-top {
      background-color: $movies-color;
    }

    &.foods-top {
      background-color: $foods-color;
    }

    &.books-top {
      background-color: $books-color;
    }

    &.products-top {
      background-color: $products-color;
    }


  }

  .movies-container {
    background: $color-5;
  }

  .foods-container {
    background: $color-5;
  }

  .books-container {
    background: $color-5;
  }

  .products-container {
    background: $color-5;
  }

  div {
    width: 22%;
    border: 2px solid rgba($color: $color-5, $alpha: 0.7);
    margin: 10px;
    box-shadow: 3px 3px rgba($color: $color-3, $alpha: 0.25);

    ul {
      padding:10px;
    }

    li {
      padding: 5px 10px;
      margin: 5px 0px;
      border: 2px solid rgba($color: $color-5, $alpha: 0.7);
      list-style:none;
      display: flex;
      color: white;
      justify-content: space-between;
      transition: 0.3s;

      i {
        color: rgba($color: $color-1, $alpha: 1);
        transition:0.3s;
        &:hover {
          color: rgba($color: $color-3, $alpha: 1);
          cursor: pointer;
        }
      }
      &:hover {
        transform: translateY(-3px) translateX(-3px);
      }
    }
  }
}
