@import 'variables';

header {
  height: 250px;
  width:100vw;
  background-image: url('https://i.imgur.com/LLoz1n1.gif');
  // background: url('https://i.imgur.com/WI9wjwW.gif');
  background-color: $color-5;
  background-repeat:repeat-x;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    color: $color-2;
    border:2px solid $color-2;
    padding: 15px;
  }

  // #new-item {
  //   margin-top:100px;
  // }
  .font-awesome-icons {
    text-align: center;
    color: white;
    .fas {
      padding: 8px 10px 2px 10px;
      &:hover {
        color: $color-2;
        cursor: pointer;
      }
    }
  }

}


