// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #EEE;
  }
}

.lists {
  float: left;
  width: 25%;
}

.labels {

  h3 {
    width: 25%;
    float: left;
    padding: 0em 1em;
  }

}
