// See: https://sass-lang.com/
@import 'variables';

body {
  background-color: $color-0;
  font-family:$font-main;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");

  h1 {
    color: $color-0;
  }
}

