// See: https://sass-lang.com/
@import 'variables';

body {
  background-color: #f4f4f4;
  font-family:$font-main;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");

  h1 {
    color: #EEE;
  }
}

