@import 'variables';

.modal-container {


    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.4);
    .modal-box {
        border: 3px solid rgba(50, 50, 50, 1.0);
        width: 70vw;
        padding: 15px 30px;
        background: #f4f4f4;
        border-radius:15px;
        background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
        i {
            &:hover {
                transition: 0.3s;
                transform: rotate(90deg);
                color: red;
                cursor: pointer;
            }
        }
        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-family: $font-title;
                font-size:25px;
                color: $color-4;
                transition:0.3s;
                text-decoration: none;

                &:hover {
                    color: $color-3;
                }

            }
        }
    }
    img {
        width: 30%;
        height: fit-content;
        float: left;
        padding: 0px 10px 10px 0px;
    }
    .modal-description {
        word-break: break-word;
    }
}
