nav {

  position:relative;
  display:flex;
  flex-direction:column;
  align-items: center;
  min-height:150px;
  padding: 20px 20vw;
  background-color: #00101C;

  span {
    font-family: 'Rampart One', cursive;
    color:#EEE;
    font-size: 50px;

  }

}

.curve {
  position:absolute;
  height: 100px;
  width: 100%;
}

.curve::after {
  content: '';
  position: absoulte;
  display:block;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  bottom:0;
  height: 85%;
  width: 100%;
  background-color:#F7760E;
  z-index: -1;
}
