@import 'variables';

nav {
  position: sticky;
  display:flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height:150px;
  // background-image: linear-gradient($color-0 , $color-5);
  background-color: $color-5;

  span {
    font-family: $font-title;
    color:$color-2;
    font-size: 35px;
    padding-left: 2vw;

    &:hover {
      cursor: pointer;
    }

  }
  .user-welcome {
    color: $color-0;
  }

  .nav-top-right {
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    div {
      padding: 0px 10px;
    }
  }

  .form-group {

    input {
      border:none;
      background-color: transparent;
      border-bottom: 2px solid black;
      width: 17vw;

      &:focus {
        outline: none;
      }
    }
  }

  .identify {
    border:none;
    background-color: $color-3;
    border-radius: 10%;
    padding: 6.5px;
    transition:0.3s;


    &:hover {
      padding: 6.5px 8px;
      background-color: $color-2;
      cursor:pointer;
    }
  }
}

