$color-1: #B5E48C;
$color-2: #76C893;
$color-3: #34A0A4;
$color-4: #1A759F;
$color-5: #184E77;

$font-main: 'Raleway', sans-serif;
$font-title: 'Bebas Neue', cursive;

$movies-color: rgb(0,114,189);
$foods-color: rgb(217, 83, 25);
$books-color: rgb(0, 127, 0);
$products-color: rgb(237, 177, 32);

$header-background: url("./media/polygrid.svg");
