$color-0: #f4f4f4;
$color-1: #e7e393;
$color-2: #f4c95d;
$color-3: #dd7230;
$color-4: #854d27;
$color-5: #2e1f27;

$font-main: 'Raleway', sans-serif;
$font-title: 'Bebas Neue', cursive;

$movies-color: #118ab2;
$foods-color: #ef476f;
$books-color: #06d6a0;
$products-color: #ffbd00;

$header-background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
// $header-background-image: url('https://i.imgur.com/xoki6UT.gif');
