$color-1: #619B8A;
$color-2: #A1C181;
$color-3: #FCCA46;
$color-4: #FE7F2D;
$color-5: #233D4D;

$font-main: 'Raleway', sans-serif;
$font-title: 'Bebas Neue', cursive;

$movies-color: $color-1;
$foods-color: $color-2;
$books-color: $color-3;
$products-color: $color-4;

$header-background: url("./media/polygrid.svg");
